<ion-tabs class="tabs-icon-top tabs-background-assertive tabs-color-light">

  <ion-tab title="热门投票" icon-off="ion-flame" icon-on="ion-flame" ui-sref="tab.hotvotes">
    <ion-nav-view name="tab-hotvotes"></ion-nav-view>
  </ion-tab>

  <ion-tab title="发起投票" icon-off="ion-plus-circled" icon-on="ion-plus-circled" ui-sref="tab.newvote">
    <ion-nav-view name="tab-newvote"></ion-nav-view>
  </ion-tab>

  <ion-tab title="个人" icon-off="ion-person" icon-on="ion-person" ui-sref="tab.mypage">
    <ion-nav-view name="tab-mypage"></ion-nav-view>
  </ion-tab>



</ion-tabs>
