
<ion-view view-title="发起问题">
  <ion-content padding="true">

    <form name="signupForm"
          novalidate="novalidate"
          ng-submit="signup(signupForm)" >
      <ion-list>

        <label class="item item-input item-floating-label"
               ng-class="{'has-error':signupForm.name.$invalid}" >
          <span class="input-label" >问题</span >
          <input type="text"
                 placeholder="问题"
                 name="name"
                 ng-model="formData.name"
                 ng-required="true" >
        </label >

        <label class="item item-input item-floating-label">
          <span class="input-label" >A</span >
          <input type="text"
                 placeholder="A"
                 name="A"
                 ng-model="formData.a"
                 ng-required="true" >
        </label >

        <label class="item item-input item-floating-label">
          <span class="input-label" >B</span >
          <input type="text"
                 placeholder="B"
                 name="B"
                 ng-model="formData.b"
                 ng-required="true" >
        </label >

        <label class="item item-input item-floating-label">
          <span class="input-label" >+</span >
          <input type="text"
                 placeholder="+"
                 name="C"
                 ng-model="formData.c"
                 ng-required="true" >
        </label >

      </ion-list >

      </br>

      <div>
        <p>截止至</p>
        <div class="radio-inline">
          <ion-radio ng-model="choice" ng-value="'A'">一天后</ion-radio>
          <ion-radio ng-model="choice" ng-value="'B'">三天后</ion-radio>
          <ion-radio ng-model="choice" ng-value="'C'">一周后</ion-radio>
          <br class="clearBoth">
        </div>
      </div>

      </br>

      <div>
        <p>分享到</p>
        <div class="button-bar">
          <a class="button button-icon icon ion-social-googleplus"></a>
          <a class="button button-icon icon ion-social-github"></a>
          <a class="button button-icon icon ion-share"></a>
          <a class="button button-icon icon ion-social-facebook"></a>
          <a class="button button-icon icon ion-social-twitter"></a>
        </div>
      </div>

      <div class="button-bar padding">
        <button class="button button-outline button-assertive"
           >预览</button>
        <button  type="submit" class="button button-outline button-assertive"
           >发布</button>
      </div>

    </form >


  </ion-content >
</ion-view >
