<ion-view hide-nav-bar="true">
  <ion-content class="mypage-view" style="margin-top: 0">
<!--menu-->
    <div class="mypage-head">
      <div class="avatar" >
        <img src="../../img/logo.jpg">
        <h4>{{ username }}</h4>
      </div>
      <div class="tabs  tabs-striped tabs-top" id="tab-navi">
        <a class="tab-item active"
           ng-click="votesShow()"
           ng-class="{'active': btnActive}">我的问题</a>
        <span style="color: #ffffff;">|</span>
        <a class="tab-item " ng-click="questionShow()" ng-class="{'active': !btnActive}">我的投票</a>
      </div>
    </div>

<!--我的投票-->
    <div class="mypage-content">
      <div ng-show="!myVar">
        <div  class="timeline">
          <div ng-repeat="vote in votes" ng-click="myVoteModal.show(); voteIdPass(vote.$id)">
            <div class="timeline-thumb bg-color-red timeline-icon"></div>
            <div class="card">
              <div class="timeline-item">
                <a class="item item-text-wrap" >
                  <p class="dateStart">{{ vote.date }}</p>
                  <h2>{{ vote.content }}</h2>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

<!--我的问题-->
      <div ng-show="myVar">

        <div class="actQueTitle devider">
          <h2>正在进行的问题</h2>
        </div>
        <div class="actQ">
          <div class="list card">
            <div class="item item-body">
              <ion-slide-box active-slide="myActiveSlide" ng-show="true" does-continue="true">
                <ion-slide ng-repeat="actQuestion in actQuestions | orderBy:'-fullDate'">
                  <div class="actQuestion">
                    <h2>{{ actQuestion.content }}</h2>
                    <p style="color: #88A8C4">还有{{ actQuestion.timeLeft }}天结束
                      <span>  已有{{ actQuestion.votePeople }}人投票</span>
                    </p>
                    <div class="ImgOptDiv" ng-repeat="(key, option) in actQuestion.options">
                        <p>{{key}}.{{option.name}}</p>
                        <div round-progress
                             max="100"
                             current="75"
                             color="#e15e5f"
                             bgcolor="#eaeaea"
                             radius="63"
                             stroke="10"
                             semi="false"
                             rounded="true"
                             clockwise="true"
                             responsive="false"
                             duration="300"
                             animation="easeOutCubic"
                             animation-delay="0">
                        </div>
                        <div  class="item circle-square" style="margin:-124px 0 0 6px;">
                          <p class="percent">{{(option.value / actQuestion.votePeople) | percentage:0}}</p>
                          <img  ng-if="option.imagesUrl"
                                ng-src="{{'data:image/png;base64,'+ option.imagesUrl.base64}}">
                        </div>
                        <div>
                        </div>
                    </div>
                  </div>
                </ion-slide>
              </ion-slide-box>
            </div>
          </div>
        </div>

        <div class="oldQueTitle devider">
          <h2>历史问题</h2>
        </div>
        <div  class="timeline">
          <div ng-repeat="oldQuestion in oldQuestions" ng-click="oldModal.show(); oldIdPass(oldQuestion.$id)">
            <div class="timeline-thumb bg-color-red timeline-icon"></div>
            <div class="card">
                <div class="timeline-item">
                  <a class="item item-text-wrap" >
                    <p class="dateStart">{{ oldQuestion.date }}</p>
                    <h2>{{ oldQuestion.content }}</h2>
                  </a>
                </div>
            </div>
          </div>
        </div>

      </div>
    </div>

  </ion-content>
</ion-view>