<div class="item item-input">
    <div class="optionInput">
        <input type="text"
               placeholder="{{name}}"
               name="{{ name }}"
               ng-model= "newVoteContents.options[name]"
               ng-required="true" >
    </div>
    <div class="uploads IconUnclicked" id="{{name}}">
        <input type='file' ng-change="imgIconChange('{{name}}')" ng-model="newVoteContents.imagesUrl[name]" maxsize="5000" base-sixty-four-input>
    </div>
</div>

<!--ng-init="newVoteContents.values[name] = 0"-->