* {
   box-sizing: border-box;
   /*outline: none;*/
}

/*
h1 {
   text-align: center;
   font-weight: 300;
   color: #777
}
*/

h1 span {
   font-weight: 600;
}

.containerT {
   width: 100%;
   padding: 0;
   margin:auto;
   position: relative;
   overflow: hidden;
}

.containerT:before {
   content: '';
   position: absolute;
   top: 0;
   left: 10%;
   margin-left: -1px;
   width: 2px;
   height: 100%;
   /*background: #d2d2d2;*/
   background:#e15e5f;
   z-index: 1
}

.timeline-block {
   width: calc(90% + 8px);
   display: -webkit-box;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: justify;
   -webkit-justify-content: space-between;
   -ms-flex-pack: justify;
       justify-content: space-between;
   clear: both;
}

.timeline-block {
   float: right;
}

.markerT {
   width: 16px;
   height: 16px;
   border-radius: 50%;
   border: 2px solid #F5F7FA;
   background: #e15e5f;
   margin-top: 10px;
   z-index: 9999
}

.timeline-content {
   width: 100%;
   padding: 0 15px;
   color: #666
}

.timeline-content h3 {
   margin-top: 5px;
   margin-bottom: 5px;
   font-size: 25px;
   font-weight: 500
}

.timeline-content span {
   font-size: 15px;
   color: #a4a4a4;
}

.timeline-content p {
   font-size: 14px;
   line-height: 1.5em;
   word-spacing: 1px;
   color: #888;
}


@media screen and (max-width: 768px) {
   .containerT:before {
      left: 8px;
      width: 2px;
   }
   .timeline-block {
      width: 100%;
      margin-bottom: auto;
      float: none;
   }
  
}
